body { 
    margin: 0;
}

#hero_button { 
    background-color: #4262FF;
    color: #FFFFFF;
    font-family: 'Roboto' monospace;
    font-size: 18px;
    font-weight: 400;
    border-radius: 32px;
    border: 1px solid #4262FF;
    margin: 0 0 8px 0;
    height: 51px;
    padding: 10 20px;
}

#hero_button:hover { 
    background-color: #0c143d;
    border-radius: 20%;
}

#input_email {
    border: 1px solid #9B99AF;
    border-radius: 32px;
    height: 38px;
    
}

.body_link {
    color: #4262FF;
    font-family: 'Roboto' monospace;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

h1 {
    margin: 0 0 17px 0;
    text-align: center;
}

h2 {
    margin: 0 0 19px 0;
}
h1, h2 {
    color: #050038;
    font-family: 'Roboto' monospace;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}

p {
    font-family: 'Roboto' monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.hero_text {
    color: #050038;
    margin: 0 0 55px 0;
}

.section_text {
    color: rgba(5, 0, 56, 0.6);
    margin: 0 0 40px 0;
}

header a {
    font-family: 'Roboto' monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(5, 0, 56, 1);
    text-decoration: none;
}

.list_tools li {
    list-style: none;
    color: rgba(5, 0, 56, 0.6);
    font-family: 'Roboto' monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

}

.list_tools li::marker { 
    content: url('../images/Frame.svg');
}

nav {
    padding: 33px 50px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 60px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.hero_form + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
    margin-bottom: 8px 0 52px 0;
    ;
}

footer {
    height: 117px;
    background-color: #050038;
    color: #FFFFFF;
    padding: 40px 46px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    
}


/* Адаптивная вёрстка - обеспечить адаптацию контента для любой размер экрана */


/* Пока величина дисплея больше 500px - применяем стиль */
/* если дизайн под мобилку, то пользуемся min */
@media (min-width: 500px) { 
    h1 {
        color: red;
    }
}

/* Стиль применится если величина дисплея меньше 500px*/
/* если дизайн под декстоп, то пользуемся max */
@media (max-width: 500px) { 
    h1 {
        color: green;
    }
}