main{
    background-color: #1E1F29;
}

h1{
    color: wheat;
    font-size: 36px;
    font-weight: 400;
}

div{
    background-color: #2E2D3D;
}

label{
    color: #AFB2BF;
}

input, select, textarea{
    color: wheat;
    background-color: #2E2D3D;
}

button{
    color: wheat;
    background-color: #6C38CC;
}